
<h2>🚨 New Security Detection</h2>

<b>Title:</b> <<retrieve_detection.body.cat>><br><br>

<b>Time:</b> <<retrieve_detection.body.detect.routing.event_time>><br>

<b>Computer:</b> <<retrieve_detection.body.detect.routing.hostname>><br>

<b>Source IP:</b> <<retrieve_detection.body.detect.routing.int_ip>><br>

<b>Username:</b> <<retrieve_detection.body.detect.event.USER_NAME>><br>

<b>File Path:</b> <<retrieve_detection.body.detect.event.FILE_PATH>><br>

<b>Command Line:</b> <<retrieve_detection.body.detect.event.COMMAND_LINE>><br>

<b>Sensor ID:</b> <<retrieve_detection.body.detect.routing.sid>><br>

<b>Detection Link:</b><br>
<a href="<<retrieve_detection.body.link>>">
<<retrieve_detection.body.link>>
</a>
